<div class="sidebar">
  <div class="sidebar_container">
    <div class="sidebar_header">
      <%= material_icon.account_circle.md_48 %>
      <%= truncate current_user.email %>
      <div class="sidebar_icons_container">
        <%= material_icon.chat %>
        <%= material_icon.more_vert %>
      </div>
    </div>
    <div class="sidebar_search">
      <%= material_icon.search %>
      <%= select_tag :search, options_for_select(users_except_current.map{|t| [truncate(t.email), t.id]},params[:user]),
        prompt: 'Select an User',
        onchange: ("window.location.href = '#{messages_path}?user='+document.getElementById(\"search\").value;") %>
    </div>
    <%= turbo_stream_from "sidebar" %>
    <div class="sidebar_chat_list" id="sidebar_chat_list_<%=current_user.id%>">
      <%= render partial: 'layouts/chat', collection: current_user.users.uniq, as: :user %>
    </div>
  </div>
</div>